<div class="row">
	
	<div style="background: yellow;" data-bind="text: lol"></div>
	<!-- <div >
		<ul data-bind="foreach: temp">
		<li data-bind="text:title"></li>
	</ul>
	</div> -->
	

    <div class="col-md-8" data-bind="with:temp">
        <h1 class="page-header">Latest Posts</h1>
        <div id="posts">
            <div data-bind="foreach:temp">
                <h2 >
                          <a href="#" data-bind="text: title"></a>
                        </h2>
                <p class="lead">by<a href="index.php" data-bind="text: userId"></a></p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p data-bind="text: body"></p>
                <a class="btn btn-primary" >Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-primary" >Delete Post</a>
                <hr>
            </div>
        </div>
        <button type="button " class="btn btn-primary " ng-click="lol() " ng-if="more ">Load More</button>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
        			</button>
                </span>
            </div>
        </div>
    </div>
</div>
