<div class="container" id="view">
    <div class="row">
        <div class="col-lg-8">
            <div class="post-author">
            </div>
            <hr>
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form data-toggle="validator" role="form" id="commentForm">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="title" class="form-control" placeholder="Title" id="inputTitle" data-error="Empty title" required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" class="form-control" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="comments" id="comments-container">
            </div>
            <hr>
        </div>

    </div>
    <script id="commentTmpl" type="text/x-jquery-tmpl">
      <div class="comment" id="${id}">
        <div class="media-body">
          <h4><a href="#">${name}</a></h4>
          <small>by ${email}</small>
          <p class="commentbody">
            ${body}
          </p>
        </div>
        <button type="button" class="save-btn btn btn-success hide save" >Save</button>
        <button type="button" class="cancel-btn btn btn-info hide cancel" >Cancel</button>
        <button type="button" class="btn btn-primary editable edit" id='${id}'>Edit</button>
        <button type="button" class="btn btn-danger delete" id="${id}">Delete</button>
        <hr>
    </div>

    </script>
    <script type="text/javascript" src="../app/messages.js"></script>
