<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{authorPost.title}}</h1>
            <p class="lead">
                by <a href="http://blackrockdigital.github.io/startbootstrap-blog-post/#">{{authorPost.userId}}</a>
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
            <hr>
            <img class="img-responsive" src="" alt="">
            <hr>
            <p class="lead">{{authorPost.body}}</p>
            <hr>
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form" ng-submit="addNewComment()">
                    <div class="form-group">
                        <label>Your Email: </label>
                        <input type="email" class="form-control" ng-model="commentEmail" placeholder="example@example.com"></input>
                        <label>Comment Theme: </label>
                        <input type="text" class="form-control" ng-model="commentName" placeholder="About"></input>
                        <label>Comment: </label>
                        <textarea ng-model="commentBody" class="form-control" rows="3" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dignissimos debitis, nemo voluptatem quam distinctio omnis tempora labore animi possimus! Aspernatur rerum, nam voluptatibus asperiores accusamus, veritatis omnis voluptatem consequatur!"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>
            <div class="comments">
                <div class="media" ng-repeat="comment in comments">
                    <a class="pull-left" href="http://blackrockdigital.github.io/startbootstrap-blog-post/#">
                        <img class="media-object" src="" alt="">
                    </a>
                    <div class="media-body" ng-hide="editing">
                        <h4 ng-hide="editableName" class="media-heading">{{comment.name}}</h4>
                        <p>{{comment.email}}</p>
                        <p>{{comment.body}}</p>
                        <button type="" class="btn btn-primary" ng-click="editing = true">Edit</button>
                        <button type="" class="btn btn-danger" ng-click="deleteComment(comment)">Delete</button>
                    </div>
                    <div class="well" ng-show="editing">
                        <h4>Edit a Comment:</h4>
                        <form ng-submit="editing = false">
                            <label>Comment Theme:</label>
                            <input type="text" class="form-control" ng-model="comment.name" placeholder="Name" ng-required/>
                            <label>Your Email:</label>
                            <input type="email" class="form-control" ng-model="comment.email" placeholder="Email" ng-required/>
                            <label>Comment:</label>
                            <textarea ng-model="comment.body" class="form-control" rows="3"></textarea>
                            <br/>
                            <button class="btn btn-success" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
